<!--  <footer class="ps-footer">
    <div class="ps-footer__content">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="ps-site-info">
                        <h3>Contacto</h3>
                        <p>Sobre Angel Shadows</p>
                        <figure>
                            <p><i class="icon-paperplane"></i> Miraflores, Perú</p>
                            <p><i class="icon-phone"></i> +1-12345 - 6789</p>
                            <p><i class="icon-envelope-o"></i><a href=""><span class="__cf_email__" data-cfemail="8ce8e3e1ede5e2cce9f4ede1fce0e9a2efe3e1">@Angel Shadowsperu.com</span></a></p>
                        </figure>
                    </div>
                </div>
               
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="widget widget_footer">
                        <h3 class="widget-title">Prendas</h3>
                        <ul>
                            <li><a href="#">Boddy</a></li>
                            <li><a href="#">Transparentes</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="widget widget_footer">
                        <h3 class="widget-title">Lingerie</h3>
                        <ul>
                            <li><a href="#">Corset</a></li>
                            <li><a href="#">Mayas</a></li>
                            <li><a href="#">BABY DOLL</a></li>
                            
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="ps-footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12  "><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo-black.png" alt=""></a>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  ">
                    <div class="ps-footer__social">
                        <ul class="ps-list--social">
                            <li><a class="facebook" href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a class="behance" href="#"><i class="icon-behance"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin2"></i></a></li>
                        </ul>
                        <p>© Copyright 2023 Angel Shadows. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12  ">
                    <div class="ps-footer__payment"><img src="assets/tiendaV/img/payment.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>  -->

 <footer id="footer" class="footer style-04">
    <div class="section-001 section-009">
        <div class="container">
            <div class="lynessa-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">Newsletter<span></span></h3>
                            <h4 class="subtitle">Get Discount 30% Off</h4>
                            <p class="desc">Suspendisse netus proin eleifend fusce sollicitudin potenti vel magnis
                                nascetur</p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="Enter your email ..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text">Subscribe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-025">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 d-lg-none">
                    <div class="logo-footer">
                        <img src="assets/tiendaS/logo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">Angelshadows helps you sell anything.<br/>
                        The best choice for your next personal
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">Customer </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target=" _blank">
                                        Shipping &amp; Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Secure Shopping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Order Status </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        International Shipping </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="logo-footer">
                        <img src="assets/tiendaS/images/logo.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="footer-desc">Angelshadows helps you sell anything.<br/>
                        The best choice for your next personal
                    </div>
                    <div class="lynessa-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="lynessa-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Information </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                        Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Customer Service </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Orders and Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Contact </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2023 <a >Angelshadows</a>. Todos los derechos reservado. Desarrollado por <a href="https://www.buckapi.com" target="_blank">Buckapi</a> </p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="assets/tiendaS/images/payment.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 