
<app-header></app-header>
<router-outlet></router-outlet>  
<header class="header--mobile">
    <nav class="navigation">
        <div class="container">
            <div class="menu-toggle"><span></span></div><a class="ps-logo" href=""><img src="assets/tiendaV/img/logo.png" alt=""></a>
            <div class="header__actions"><a class="ps-search-btn" href=""><i class="aroma-magnifying-glass"></i></a>
                <div class="ps-cart"><a class="ps-cart__toggle" href=""><span><i>20</i></span><i class="icon-cart3"></i></a>
                    <div class="ps-cart__listing">
                        <div class="ps-cart__content">
                            <div class="ps-cart-item"><a class="ps-cart-item__close" href=""></a>
                                <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="assets/tiendaV/img/products/sidebar-1.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Kingsman</a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                            <div class="ps-cart-item"><a class="ps-cart-item__close" href=""></a>
                                <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="assets/tiendaV/img/products/sidebar-2.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Joseph</a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                            <div class="ps-cart-item"><a class="ps-cart-item__close" href=""></a>
                                <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="assets/tiendaV/img/products/sidebar-3.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Todd Snyder</a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="ps-cart__total">
                            <p>Number of items:<span>36</span></p>
                            <p>Item Total:<span>£528.00</span></p>
                        </div>
                        <div class="ps-cart__footer"><a href="cart.html">Check out</a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<nav class="navigation--mobile visible-lg">
    <ul class="menu">
        <li class="current-menu-item menu-item-has-children"><a href="">Home</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
           <!--  <ul class="sub-menu">
                <li><a href="index.html">Homepage 1</a></li>
                <li><a href="homepage-2.html">Homepage 2</a></li>
                <li><a href="homepage-3.html">Homepage 3</a></li>
                <li><a href="homepage-4.html">Homepage 4</a></li>
                <li><a href="homepage-5.html">Homepage 5</a></li>
                <li><a href="homepage-6.html">Homepage 6</a></li>
                <li><a href="homepage-7.html">Homepage 7</a></li>
                <li><a href="homepage-8.html">Homepage 8</a></li>
                <li><a href="homepage-9.html">Homepage 9</a></li>
            </ul> -->
        </li>
        <li class="menu-item-has-children"><a href="product-fullwidth.html">Shop</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
           <!--  <ul class="sub-menu">
                <li><a href="product-fullwidth.html">Product Fullwidth</a></li>
                <li><a href="product-fullwidth-5-columns.html">Product Fullwidth 5 Columns</a></li>
                <li><a href="product-fullwidth-6-columns.html">Product Fullwidth 6 Columns</a></li>
                <li><a href="product-left-sidebar.html">Product Left Sidebar</a></li>
                <li><a href="product-sidebar-3-columns.html">Product Left Sidebar 3 Column</a></li>
                <li><a href="product-sidebar-4-columns.html">Product Left Sidebar 4 Column</a></li>
                <li><a href="categories-list.html">Categories List</a></li>
                <li><a href="product-detail.html">Product Detail</a></li>
                <li><a href="product-detail-2.html">Product Detail 2</a></li>
                <li><a href="product-detail-3.html">Product Detail 3</a></li>
            </ul> -->
        </li>
      <!--   <li class="menu-item-has-children"><a href="">Pages</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
            <ul class="sub-menu">
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="lookbook-1.html">Lookbook 1</a></li>
                <li><a href="lookbook-2.html">Lookbook 2</a></li>
                <li><a href="portfolio.html">Portfolio 1</a></li>
                <li><a href="portfolio-2.html">Portfolio 2</a></li>
                <li><a href="https://nouthemes.net/html/voye/meet-our-team.html">Meet Our Team</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a href="blog-fullwidth.html">Blog</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
            <ul class="sub-menu">
                <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
                <li><a href="blog-detail-modern.html">Blog Detail Modern</a></li>
            </ul>
        </li> -->
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
</nav>
    <!-- <div class="ps-popup" id="subscribe" data-time="100000">
        <div class="ps-popup__content bg--cover" data-background=" "><a class="ps-btn--close ps-popup__close" href="#"></a>
            <form class="ps-form--subscribe-popup" action="" method="post">
                <h3>Extra</h3>
                <h1>40% <br> Off</h1>
                    <h3>2018 Summer sale</h3>
                    <figure>
                        <h4>Our newsletters</h4>
                        <p>Stay Updated on all that’s new add noteworthy</p>
                    </figure>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Join our mailing list">
                        <button class="ps-btn ps-btn--black ps-btn--curve">Subscribe</button>
                    </div>
            </form>
        </div>
    </div>  -->
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
   <!--  <div id="loader-wrapper"><img src="assets/tiendaV/img/loading.png" alt="">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>  -->
    <div class="ps-modal" id="login">
        <div class="ps-modal__container"><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
            <div class="ps-modal__content">
                <form class="ps-form--register" action="" method="post">
                    <h3>Become a member <br> Please register</h3>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input class="form-control" type="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                        <div class="form-group submit">
                            <button class="ps-btn ps-btn--outline ps-btn--black ps-btn--lg">Register</button>
                            <p>or continue with</p><a class="ps-btn facebook ps-btn--lg" href="#"> Facebook</a>
                            <p>or member to Voye?<a href="login.html"> Login Now</a></p>
                        </div>
                </form>
            </div>
        </div>
    </div> 
    
<app-footer></app-footer>
